footer {
  margin-bottom: 0px;
  height: 10vh;
  background-color: black;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;

}


.card-header h5 {
  margin-bottom: 0;
}

.form-control {
  height: 38px;
}

.btn {
  white-space: nowrap;
}

.row {
  align-items: center;
}

